﻿@model IEnumerable<HelloWorld.Models.Workout>

@{
    ViewBag.Title = "Workouts";
}

<h2>Workouts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tableData" class="table">
    <tr>
        <th onclick="sortTableBy(0)">
           Athlete
        </th>
        <th onclick="sortTableBy(1)">
            @Html.DisplayNameFor(model => model.WorkoutType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Athlete.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkoutType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
