﻿@model IEnumerable<HelloWorld.Models.Coach>

@{
    ViewBag.Title = "Coaches";
}

<h2>Coaches</h2>

<table id="tableData" class="table">
    <tr>
        <th onclick="sortTableBy(0)">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th onclick="sortTableByDate(1)">
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
