﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - XCStats</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="~/Content/Site.css" />
    <!-- Fonts! -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif|Permanent+Marker|Carrois+Gothic+SC" />
</head>
<body>
    <nav>
        <div class="titleHeader">
            <h1>XCStats</h1>
        </div>
        <div class="navbar">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Athletes", "Index", "Athletes")</li>
                <li>@Html.ActionLink("Coaches", "Index", "Coaches")</li>
                <li>@Html.ActionLink("Records", "Index", "Records")</li>
                <li>@Html.ActionLink("Workouts", "Index", "Workouts")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year ~ SquareOne</p>
        </footer>
    </div>

    <!-- JavaScript: placed at the end of the document so the pages load faster -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)
    <script>
        function sortTableBy(n) {
            var tData, rows, key;

            tData = document.getElementById("tableData");
            rows = tData.getElementsByTagName("tr");

            //starting with 2 because we are not sorting the headers and 1 is covered by j
            for (i = 2; i < rows.length; i++) {

                var current = i;
                var j = i - 1;

                key = rows[i].getElementsByTagName("td")[n].innerHTML.toLowerCase();

                while (j >= 1) {
                    if (key < rows[j].getElementsByTagName("td")[n].innerHTML.toLowerCase()) {
                        current = j; //setting current to the row with the lowest value data that the key is lower than
                    }
                    j = j - 1;
                }

                $(rows[i]).insertBefore(rows[current]); //always done because if none of them are lower than key, current never changes and the row stays in the same place

            }
        }

        function sortTableByDate(n) {
            var tData, rows, key, cData;

            tData = document.getElementById("tableData");
            rows = tData.getElementsByTagName("tr");

            //starting with 2 because we are not sorting the headers and 1 is covered by j
            for (i = 2; i < rows.length; i++) {

                var current = i;
                var j = i - 1;

                key = rows[i].getElementsByTagName("td")[n].innerHTML.split("/");

                while (j >= 1) {
                    cData = rows[j].getElementsByTagName("td")[n].innerHTML.split("/");
                    if (key[2] < cData[2] || (key[2] == cData[2] && key[0] < cData[0]) || (key[2] == cData[2] && key[0] == cData[0] && key[1] < cData[1])) {
                        current = j; //setting current to the row with the lowest value data that the key is lower than
                    }
                    j = j - 1;
                }

                $(rows[i]).insertBefore(rows[current]); //always done because if none of them are lower than key, current never changes and the row stays in the same place

            }
        }

        function sortTableByInt(n) {
            var tData, rows, key;

            tData = document.getElementById("tableData");
            rows = tData.getElementsByTagName("tr");

            //starting with 2 because we are not sorting the headers and 1 is covered by j
            for (i = 2; i < rows.length; i++) {

                var current = i;
                var j = i - 1;

                key = rows[i].getElementsByTagName("td")[n].innerHTML.toLowerCase();

                while (j >= 1) {
                    if (key.length < rows[j].getElementsByTagName("td").innerHTML.length || (key.length == rows[j].getElementsByTagName("td").innerHTML.length && key < rows[j].getElementsByTagName("td")[n].innerHTML.toLowerCase())) {
                        current = j; //setting current to the row with the lowest value data that the key is lower than
                    }
                    j = j - 1;
                }

                $(rows[i]).insertBefore(rows[current]); //always done because if none of them are lower than key, current never changes and the row stays in the same place

            }
        }
    </script>
</body>
</html>
