﻿@model IEnumerable<HelloWorld.Models.Athlete>

@{
    ViewBag.Title = "Athletes";

}

<h2>Athletes</h2>

<table id="tableData" class="table">
    <thead>
        <tr>
            <th onclick="sortTableBy(0)">@Html.DisplayNameFor(model => model.FullName)</th>
            <th onclick="sortTableByDate(1)">@Html.DisplayNameFor(model => model.DOB)</th>
            <th onclick="sortTableBy(2)">@Html.DisplayNameFor(model => model.CoachID)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem => item.FullName)</td>
                <td>@Html.DisplayFor(ModelItem => item.DOB)</td>
                <td>@Html.DisplayFor(ModelItem => item.Coach.FullName)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
