﻿@model HelloWorld.Models.Record

@{
    ViewBag.Title = "Record Details";
}

<h2>Record Details</h2>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workout.WorkoutType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workout.WorkoutType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkoutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkoutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Steps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Steps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeartRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeartRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkoutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkoutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPSLog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPSLog)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
